/*-----INDEX-----*/

/*-hero-image-*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    color: nth($text-colour , 3 );
    text-align: center;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 20%,
        rgba(90, 49, 183, 0.5) 100%
        ),
        url(../img/background-home-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    h1 {
        font-size: nth($font-size , 2 );
        font-weight: 700;
        display: inline-block;
        padding: 10px;
    }
    p{
        margin-bottom: 40px;
        font-size: nth($font-size , 5 );
        font-weight: 200;
        letter-spacing: 0.5px;
    }
    a{
        font-size: nth($font-size , 9 );
        font-weight: 300;
        text-decoration: none;
        color: nth($text-colour , 3 );
        background-color: nth($colour-palette, 5 );
        border-radius: 10px;
        padding: 15px;
        transition: 300ms ease-in;
        letter-spacing: 1.5px;
        cursor: pointer;
        &:hover {
            color: nth($text-colour , 3 );
            background-color: nth($colour-palette, 4 );
            transform: scale(1.1);
        }
    }
}

/*-servicios-*/
.servicios {
    text-align: center;
    margin-top: 100px;
    color: nth($text-colour , 1 );
    h3 {
        @include text (nth($font-size , 6 ), 400, 5px, 20px 10px 10px 10px);
        text-transform: uppercase;
    }
    h2 {
        @include text (nth($font-size , 5 ), 200, 0.5px, 0px 10px 10px 10px);
        letter-spacing: 0.5px;
    }
    .modal-container {
        margin: 0 10%;
        width: 80%;
        max-height: 80vh;
        color: nth($text-colour, 1 );
        background-color: $bg-colour-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        overflow: overlay;
        z-index: 9;
        top: 12vh;
        border-radius: 1rem;
        box-shadow: 4px 4px 16px 0px rgba(19,24,21,0.4);
        &::-webkit-scrollbar {
            width: 0;
            position:absolute;
        }
        .modal-header {
            width: 100%;
            position: sticky;
            top: 0;
            z-index: 1;
            display: flex;
            justify-content: space-around;
            align-items: baseline;
            color: nth($text-colour , 3 );
            background-color: $bg-colour-modal-header;
            .modal-header-title {
                @include text (nth($font-size , 6 ), 400, 2px, 10px 0px 0px 0px);
                text-transform: uppercase;
            }
            .modal-header-button {
                cursor: pointer;
                font-size: nth($font-size , 6 );
                &:hover {
                    color: nth($extra-colour , 8 );
                    transition: 300ms ease-in;
                }
            }
        }
        .modal-cont {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            margin: 15px 10px;
            .delete-product {
                cursor: pointer;
            }
            .bx {
                font-size: nth($font-size , 6 );
                color: nth($extra-colour , 7 );
                &:hover {
                    color: nth($extra-colour , 8 );
                }
            }
            img {
                width: 120px;
                height: 120px;
                border-radius: 8px;
            }
            .minus {
                cursor: pointer;
            }
            .plus {
                cursor: pointer;
            }
        }
        .total-content {
            width: 100%;
            font-size: nth($font-size , 6 );
            text-align: center;
            padding: 20px;
            margin-top: 20px;
            border-top: dashed 1px nth($colour-palette , 8 );
        }
    }
    .servicios-tipos {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: left;
        div {
            width: 500px;
            height: 540px;
            margin: 20px 10px;
            img {
                width: 500px;
                height: 300px;
                margin-bottom: 20px;
                border-radius: 10px;
            }
            h4 {
                @include text (nth($font-size , 7 ), 400, 2px, 0px );
                text-transform: uppercase;
            }
            p {
                padding-left: 0px;
                padding-bottom: 20px;
                font-size: nth($font-size , 8 );
                font-weight: 200;
            }
            a {
                font-size: map-get($button-home , fnt-size );
                font-weight: map-get($button-home , fnt-weight );
                text-decoration: map-get($button-home , deco );
                color: map-get($button-home , fnt-colour );
                border: map-get($button-home , bord );
                border-radius: map-get($button-home , b-radius );
                padding: map-get($button-home , padd );
                transition: map-get($button-home , trans );
                margin-left: map-get($button-home , m-left );
                cursor: map-get($button-home , cur );
                &:hover {
                    color: nth($text-colour , 3 );
                    background-color: nth($colour-palette , 5 );
                }
            }
        }
    } 
}

/*-productos-*/
.productos {
    margin-top: 70px;
    color: nth($text-colour , 1 );
    h3 {
        font-size: nth($font-size , 6 );
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        padding: 20px 10px 10px 10px;
    }
    h2 {
        font-size: nth($font-size , 5 );
        font-weight: 200;
        text-align: center;
        letter-spacing: 0.5px;
        padding: 0px 10px 10px 10px;
        margin-bottom: 30px;
    }
    .productos-contenedor {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        .productos-varios {
            width: 400px;
            height: 650px;
            margin: 20px 20px;
            div{
                img {
                    width: 400px;
                    height: 100%;
                    object-fit: contain;
                    margin-bottom: 10px;
                    border-radius: 16px;
                }
                h4 {
                    font-size: nth($font-size , 7 );
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                p {
                    font-weight: 200;
                    font-size: nth($font-size , 8 );
                    margin-bottom: 20px;
                }
            }
            .content-circle {
                display: flex;
                justify-content: left;
                padding-bottom: 40px;
                .circle {
                    width: 32px;
                    height: 32px;
                    background-color: nth($colour-palette , 8 );
                    border-radius: 50%;
                    margin-right: 20px;
                    cursor: pointer;
                    transition: 500ms ease;
                    &:hover {
                        background-color: nth($colour-palette , 7 );
                        border-radius: 50%;
                    }
                }
            }
            a {
                font-size: map-get($button-home , fnt-size );
                font-weight: map-get($button-home , fnt-weight );
                text-decoration: map-get($button-home , deco );
                color: map-get($button-home , fnt-colour );
                border: map-get($button-home , bord );
                border-radius: map-get($button-home , b-radius );
                padding: map-get($button-home , padd );
                transition: map-get($button-home , trans );
                cursor: map-get($button-home , cur );
                &:hover {
                    color: nth($text-colour , 3 );
                    background-color: nth($colour-palette , 5 );
                }
            }
        }
    }
}

/*-hacer-pedidos-*/
.pedidos {
    text-align: center;
    margin-top: 100px;
    color: nth($text-colour , 1 );
    h3 {
        font-size: nth($font-size , 6 );
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 5px;
        padding: 20px 10px 10px 10px;
    }
    h2{
        font-size: nth($font-size , 5 );
        font-weight: 200;
        letter-spacing: 0.5px;
        padding: 0px 10px 10px 10px;
        margin-bottom: 30px;
    }
    .pedidos-pasos {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        div {
            width: 244px;
            height: 300px;
            margin: 10px;
            img {
                width: 96px;
                height: 96px;
                margin: 50px;
            }
            h4 {
                margin-bottom: 5px;
                font-size: nth($font-size , 7 );
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            p {
                margin-bottom: 20px;
                font-weight: 200;
                font-size: nth($font-size , 8 );
            }
        }
    }
}

/*-suscribir-*/
.suscribir {
    text-align: center;
    margin-top: 100px;
    color: nth($text-colour , 1 );
    h3{
        font-size: nth($font-size , 6 );
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 5px;
        padding: 20px 10px 10px 10px;
    }
    h2 {
        font-size: nth($font-size , 5 );
        font-weight: 200;
        letter-spacing: 0.5px;
        padding: 0px 10px 10px 10px;
        margin-bottom: 30px;
    }
    .suscribir-bloque {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
        img {
            width: 750px;
            height: 500px;
            background-size: contain;
            border-radius: 10px 0px 0px 10px;
        }
        .suscribir-formu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            background-color: $bg-colour;
            padding: 30px 30px;
            border-radius: 0px 10px 10px 0px;
            width: 530px;
            height: 500px;
            p {
                margin-bottom: 20px;
                font-weight: 200;
                font-size: nth($font-size , 7 );
                text-align: left;
            }
            form {

                div {
                    margin: 20px 0px;
                    label {
                        font-weight: 200;
                        font-size: nth($font-size , 9 );
                        margin-bottom: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    input {
                        font-size: map-get($input , fnt-size );
                        font-weight: map-get($input , fnt-weight );
                        border: map-get($input , bord );
                        border-radius: map-get($input , b-radius );
                        padding: map-get($input , padd );
                        width: map-get($input , w );
                        height: map-get($input , h );
                    }
                    button {
                        font-size: map-get($button-home , fnt-size );
                        font-weight: map-get($button-home , fnt-weight );
                        text-decoration: map-get($button-home , deco );
                        color: map-get($button-home , fnt-colour );
                        background-color: transparent;
                        border: map-get($button-home , bord );
                        border-radius: map-get($button-home , b-radius );
                        padding: map-get($button-home , padd );
                        margin-top: 10px;
                        transition: map-get($button-home , trans );
                        cursor: map-get($button-home , cur );
                        &:hover {
                            color: nth($text-colour , 3 );
                            background-color: nth($colour-palette, 5 );
                        }
                    }
                }
            }
        }
    }
}
